@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto+Mono:wght@400;700&display=swap");

/* Fonts */

.f1 {
  font-size: 28px !important;
}

.f2 {
  font-size: 24px !important;
}

.f3 {
  font-size: 18px !important;
}

.f4 {
  font-size: 16px !important;
}

.f5 {
  font-size: 16px !important;
}

.f6 {
  font-size: 12px !important;
}

.spacing-override {
  line-height: calc(1em + 14px) !important;
}

@media (min-width: 1000px) {
  .f1 {
    font-size: 50px !important;
  }

  .f2 {
    font-size: 38px !important;
  }

  .f3 {
    font-size: 24px !important;
  }

  .f4 {
    font-size: 20px !important;
  }

  .f5 {
    font-size: 18px !important;
  }

  .f6 {
    font-size: 14px !important;
  }

  .spacing-override {
    line-height: calc(1em + 24px) !important;
  }
}

.bold-override div div {
  font-weight: bold;
  color: rgb(56, 58, 60);
}

.link-override div div {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(56, 58, 60);
}
