@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap");

@keyframes expand-fade {
  from {
    opacity: 1;
    transform: scale(0.9);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
