@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Fonts */

.f1 {
  font-size: 38px !important;
}

.f2 {
  font-size: 28px !important;
}

.f3 {
  font-size: 20px !important;
}

.f4 {
  font-size: 14px !important;
}

.f5 {
  font-size: 10px !important;
}

@media (min-width: 1000px) {
  .f1 {
    font-size: 50px !important;
  }

  .f4 {
    font-size: 16px !important;
  }
}

/* Animations */

@keyframes expand-fade {
  from {
    opacity: 1;
    transform: scale(0.9);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bold-override div div {
  font-weight: bold;
  color: rgb(56, 58, 60);
}

.link-override div div {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(56, 58, 60);
}